<%
if(templateSettings){
    if(templateSettings.header){
        if(templateSettings.header.display === false){
            showHeader = false;
        }
    }
}
%>

<%if(showHeader){ %>
<!-- Header -->
<header id="header-navbar" snaphy-load-template class="content-mini content-mini-full" >

    <!-- Header Navigation Left -->
    <ul class="nav-header pull-left">
        <li class="hidden-md hidden-lg">

            <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle"  type="button">
                <i class="fa fa-navicon"></i>
            </button>
        </li>
        <li class="hidden-xs hidden-sm">

            <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                <i class="fa fa-ellipsis-v"></i>
            </button>
        </li>
    </ul>
    <!-- END Header Navigation Left -->

    <!-- HEADER HOOK -->
    <% headerHook.forEach(function(headerLink) { %>
    <!-- Custom Plugins headers.. -->
    <span snaphy-load-template  ng-include="'<%= headerLink %>'"></span>
    <% }); %>
</header>
<!-- END Header -->
<% } %>
<!--END OF SHOW HEADER-->