<%
if(templateSettings){
    if(templateSettings.header){
        if(templateSettings.header.display === false){
            showHeader = false;
        }
    }
}
%>

<%if(showHeader){ %>
<!-- Header -->
<header id="header-navbar" snaphy-load-template class="content-mini content-mini-full" >

    <!-- Header Navigation Left -->
    <ul class="nav-header pull-left">
        <li class="hidden-md hidden-lg">

            <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle"  type="button">
                <i class="fa fa-navicon"></i>
            </button>
        </li>
        <li class="hidden-xs hidden-sm">
            <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                <i class="fa fa-ellipsis-v"></i>
            </button>
        </li>
    </ul>
    <%
        //Checking for aside bar availaibility
    if(templateSettings){
        if(templateSettings.asidebar){
            if(templateSettings.asidebar.display){

    %>
        <ul class="nav-header pull-right">
            <!--Checkout bodyCtrl.js for more info.-->
            <!--Notification valiable is defined in rootscope so that any plugin can also modify it.-->
            <li  class="hidden-xs hidden-sm">
                <button ng-class="notification.main.class" class="btn" data-toggle="layout" data-action="side_overlay_toggle" type="button">
                    <i class="fa fa-bell-o "></i>
                    <span ng-cloak="" ng-if="notification.unread.total" ng-bind="notification.unread.total" class="badge push-5-l"></span>
                </button>
            </li>
        </ul>
    <%
            }
        }
    }
    %>
    <!-- END Header Navigation Left -->

    <!-- HEADER HOOK -->
    <% headerHook.forEach(function(headerHtml) { %>
    <!-- Custom Plugins headers.. -->
    <span snaphy-load-template="">
        <%- headerHtml %>
    </span>
    <% }); %>
</header>
<!-- END Header -->
<% } %>
<!--END OF SHOW HEADER-->