<p style="text-align: center;"><strong><span style="font-size:16px">Congratulations!!</span></strong></p>

<p style="text-align: center;"><span style="font-size:16px">on your new Purchase</span></p>

<p><span style="font-size:14px">You can do the following things to get all the benefits.</span></p>
