<p style="text-align:center">&nbsp;</p>

<div style="background:#eee;border:1px solid #ccc;padding:5px 10px;">
    <h3><span style="font-size:14px">GPS Tracker Ordered :</span></h3>

    <h3>Dealership Name: <strong><%=dealer.firstName%> <%=dealer.lastName%></strong></h3>

    <p>Ordered Quantity: <strong><%=quantity%></strong></p>
</div>

<p>&nbsp;</p>